{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Churro Cooking Time Entries</h1>
            </div>
            <div class="col-sm-4">
                {{ include('@App/ChurroTimeEntry/_bestChurroTypeBox.html.twig') }}
            </div>
            <div class="col-sm-1">
                <a href="{{ path('app_churro_time_entry_new') }}" class="btn btn-primary">
                    Create
                </a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>type</th>
                    <th>quantity made</th>
                    <th>cook time</th>
                    <th>cleanup time</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for timeEntry in timeEntries %}
                    <tr>
                        <td>{{ timeEntry.id }}</td>
                        <td>{{ timeEntry.type }}</td>
                        <td>{{ timeEntry.quantityMade }}</td>
                        <td>
                            :{{ ((timeEntry.cookingDuration) / 60)|round }}
                        </td>
                        <td
                            {% if timeEntry.didCleanupTakeTooLong %}
                                class="text-danger"
                            {% endif %}
                        >
                            :{{ ((timeEntry.cleanupDuration) / 60)|round }}
                        </td>
                        <td>
                            <a href="{{ path('app_churro_time_entry_show', {
                                id: timeEntry.id
                            }) }}">
                                view
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
